*.pdf
*.docx
__pycache__/
LC/
Project/ProjectDocs/
week 1 & 2/
week3/
week4/
week5/
week6/
week7/
midsem/
.idea
Project/ProjectDocs/M1-BlockDiagram.drawio
Project/ProjectDocs/ENG1013 - Traffic Lights Project Specification v5.3 2024-S1.pdf
Project/ProjectDocs/2024 ENG1013 Milestone 1.pdf
Project/Code/password.txt
