*.pdf
*.docx
__pycache__/
LC/
Project/ProjectDocs/
week 1 & 2/
week3/
week4/
week5/
Project/ProjectDocs/M1-BlockDiagram.drawio
Project/ProjectDocsENG1013 - Traffic Lights Project Specification v5.3 2024-S1.pdf
Project/ProjectDocs2024 ENG1013 Milestone 1.pdf
